.container {
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0px;
  padding: 10px;
  padding-bottom: 0px;
  background-color: #0d2f3d;
  /* box-sizing: border-box; */
  z-index: 0;
  width: 100%;
  max-width: 1920px;
}

.margin {
  margin: 10px;
}

html {
  margin: 0px;
  padding: 0px;
}
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #0d2f3d;
  justify-content: center;
  align-items: center;
}

/* header */

.header {
  margin: 1%;
  position: relative;
  display: flex;
  z-index: 1;
  width: 98%;
  height: 80px;
  background-color: #002437;
  border: solid 1px #61daff66;
  border-radius: 25px;
  padding: 5px;
  margin-top: 30px;
  direction: rtl;
  color: whitesmoke;
  justify-content: space-between;
}

.header * {
  margin: 10px;
}

.header img {
  width: 200px;
  height: 50px;
  margin: 10px;
  margin-right: 3%;
  color: whitesmoke;
}

.nav-link span {
  width: fit-content;
  height: 20px;
  font-size: 16px;
  display: flex;
  color: white;
  margin-top: 10px;
}
.nav-link p {
  color: rgba(255, 255, 255, 0.619);
  margin: 0px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 14px;
}

.nav-link p:hover {
  color: rgba(172, 98, 252, 0.619);
}

.nav-link {
  display: flex;
  margin: 0px;
  margin-top: 10px;
}

.search-bar::placeholder {
  transition: 1s;
  color: rgba(0, 0, 0, 0.671);
}

.search-bar:focus::placeholder {
  transform: translateX(-10px);
}

.search-bar {
  border: none;
  margin: 15px;
  margin-top: 8px;
  margin-left: 0px;
  border-radius: 25px;
  width: 150px;
  height: 30px;
  padding: 5px;
}

.search-span {
  width: 30px;
  height: 30px;
  font-size: 10px;
  margin-top: 8px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
}

select {
  border-radius: 15px;
  margin: 10px;
  padding: 5px;
}

.login-div {
  margin-top: 5px;
  border: solid 1px whitesmoke;
  border-radius: 15px;
  font-size: 10px;
  width: 130px;
  height: 40px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

/* main */

.main {
  display: flex;
  width: 100%;
}
@font-face {
  font-family: yekan;
  src: url(../IRANSans\(FaNum\)_Medium.ttf);
}
* {
  font-family: "yekan";
  box-sizing: border-box;
}
.halo {
  position: absolute;
  z-index: 0;
  width: 0px;
  height: 0px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 450px 450px rgb(44, 80, 121);
  margin: 10px 0 50% 50%;
}

.halo2 {
  position: absolute;
  z-index: 0;
  bottom: 100px;
  width: 0px;
  height: 0px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 200px 200px rgb(44, 80, 121);
  margin: 0 0 50% 50%;
}

/* pakhsh-zende */

.pakhsh-zende {
  display: flex;
  margin: 1%;
  position: relative;
  z-index: 1;
  width: 98%;
  height: 560px;
  background-color: #00273c;
  border: solid 1px #61daff66;
  border-radius: 25px;
  padding: 5px;
  direction: rtl;
  color: whitesmoke;
}

.pakhsh-zende-ax-div {
  position: relative;
  width: 70%;
  margin: 10px;
  z-index: 2;
}

.pakhsh-zende-ax {
  width: 100%;
  height: 520px;
  border: solid 1px #61daff66;
  border-radius: 25px;
}

.pakhsh-zende-fehrest {
  overflow: hidden;
  width: 30%;
  display: grid;
  height: 520px;
  padding: 5px;
  margin: 10px;
}

.content1 {
  width: 98%;
  background-color: #143b50;
  border: solid 1px #61daff66;
  border-radius: 15px;
  height: 250px;
  margin: 5px;
  margin-top: 15px;
  transition: 1s;
}

.scroll-bar {
  overflow-y: scroll;
  height: 190px;
  margin: 10px;
  padding: 5px;
  scroll-behavior: smooth;
}

.scroll-bar p {
  font-size: 15px;
  margin: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.scroll-bar button {
  display: block;
  font-size: 15px;
  margin: 10px;
  transition: 0.3s;
  cursor: pointer;
  background-color: unset;
  box-shadow: none;
  border: none;
  border-radius: 15px;
  color: whitesmoke;
}

.scroll-bar p:hover {
  transform: translate(-10px);
}

.scroll-bar button:hover {
  transform: translate(-10px);
}

.scroll-bar button:focus {
  transform: translate(-10px);
  background-color: #cf3737;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #377ecf;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  height: 10px;
  background-color: rgb(161, 225, 255);
  border-radius: 25px;
}

.content2 {
  width: 98%;
  display: flex;
  background-color: #143b50;
  border: solid 1px #e5ff23;
  border-radius: 15px;
  height: 60px;
  margin: 5px;
  margin-top: 15px;
  transition: 1s;
}

.content2 span {
  margin-top: 25px;
}

.ax1 {
  width: 45px;
  height: 45px;
  border-radius: 15px;
  margin: 7px;
  margin-right: 20px;
  margin-left: 20px;
}

.ax2 {
  width: 58px;
  height: 58px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-right: auto;
}

.content3 {
  width: 98%;
  display: flex;
  background-color: #143b50;
  border: solid 1px #5ffd43;
  border-radius: 15px;
  height: 60px;
  margin: 5px;
  margin-top: 15px;
  transition: 1s;
  cursor: pointer;
}

.content3 span {
  margin-top: 25px;
}

.content4 {
  width: 98%;
  display: flex;
  background-color: #143b50;
  border: solid 1px #cf3737;
  border-radius: 15px;
  height: 60px;
  margin: 5px;
  margin-top: 15px;
  transition: 1s;
  cursor: pointer;
}

.content4 span {
  margin-top: 25px;
}

.content5 {
  width: 28%;
  overflow: hidden;
  border-radius: 15px;
  height: 500px;
  margin: 5px;
  margin-top: 13px;
  margin-right: 33%;
  transition: 1s;
  position: absolute;
}

.con5 {
  width: 100%;
  display: flex;
  background-color: #2e81aec5;
  border: solid 1px #3978a8;
  border-radius: 15px;
  height: 60px;
  transition: 1s;
  align-items: center;
  justify-content: center;
  color: rgba(245, 245, 245, 0.748);
}

.sahn-ha {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 2fr));
  grid-template-rows: minmax(10px, 1fr);
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-gutter: srable;
}

.sahn-ha div {
  width: 90%;
  height: 50px;
  display: flex;
  background-color: #214b62af;
  border: solid 1px #3978a8;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  color: rgba(245, 245, 245, 0.742);
}

.content6 {
  width: 28%;
  border-radius: 15px;
  height: 500px;
  margin: 5px;
  margin-top: 15px;
  margin-right: 33%;
  transition: 1s;
  position: absolute;
}

.con6 {
  width: 100%;
  display: flex;
  background-color: #2e81aec5;
  border: solid 1px #3978a8;
  border-radius: 15px;
  height: 60px;
  transition: 1s;
  align-items: center;
  justify-content: center;
  color: rgba(245, 245, 245, 0.748);
}

/* preset classes */

.up300px {
  transform: translatey(-300px);
}

.up370px {
  transform: translatey(-370px);
}

.up440px {
  transform: translatey(-440px);
}

.right480px {
  transform: translatex(480px);
}
.left480px {
  transform: translatex(-480px);
}

.down85px {
  transform: translatey(85px);
}

/* roll content */

.namahang {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  justify-content: center;
}

.namahang-nav {
  background-color: #1a5b79;
  width: 98%;
  height: 60px;
  border-radius: 20px;
  margin: 13px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 10px;
  padding-right: 0px;
}

.namahang-nav-right {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.namahang-nav-right div {
  background-color: yellow;
  width: 5px;
  height: 25px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.namahang-nav-left {
  color: whitesmoke;
}

.namahang-content {
  direction: rtl;
  display: flex;
  position: relative;
  width: 98%;
  height: 220px;
  margin: 13px;
  overflow: auto;
  box-sizing: border-box;
}

.namahang-content-items {
  position: relative;
  width: 170px;
  height: 170px;
  margin: 15px;
  background-color: #285a9b;
  box-sizing: border-box;
  flex-shrink: 0;
  border-radius: 15px;
}

.namahang-content-items img {
  width: 170px;
  height: 140px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.namahang-content-items-name {
  color: white;
  position: absolute;
  top: 66%;
  right: 25%;
  text-shadow: black 2px 2px;
}

.namahang-content-items-detailes {
  display: flex;
  align-items: center;
  position: absolute;
  width: 150px;
  text-align: center;
  top: 75%;
  justify-content: space-between;
  color: whitesmoke;
  font-size: 10px;
  margin: 10px;
  box-sizing: border-box;
}
/* slider & opinions */

.slider-opinions {
  position: relative;
  width: 50%;
  margin: auto;
  height: 900px;
  z-index: 1;
}

.slider-opinions-title {
  margin-right: 42%;
  color: whitesmoke;
  font-size: 25px;
  display: flex;
  direction: rtl;
}

.slider {
  width: 600px;
  height: 500px;
  margin: auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.slides {
  display: flex;
  height: 500px;
  transition: transform 0.5s ease;
  position: relative;
  z-index: 1;
}

.slide {
  min-width: 600px;
  height: 500px;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.slide span {
  font-size: 250px;
  width: 265px;
  overflow: hidden;
  border-radius: 50%;
  border: 8px rgb(196, 196, 25) solid;
  position: relative;
  z-index: 1;
}

.slide p {
  color: whitesmoke;
  position: relative;
  z-index: 1;
}

.slider-button {
  color: #2758c3;
  position: absolute;
  z-index: 1;
  display: flex;
  width: 80%;
  justify-content: space-between;
  left: 10%;
  top: 40%;
  height: 30px;
  cursor: pointer;
  font-size: 20px;
}

.slider-button span {
  margin: 10px;
  position: relative;
  z-index: 1;
}

.tv-png {
  z-index: 0;
  width: 600px;
  height: 300px;
  color: white;
  position: absolute;
  bottom: 200px;
  right: 0px;
}

.opinions {
  direction: rtl;
}

textarea {
  background-color: #225e7ed1;
  border: solid 2px #3980b5;
  border-radius: 15px;
  color: white;
  margin: 10px;
}

.t-area-name {
  width: 55%;
}

.t-area-number {
  width: 38%;
}

.t-area {
  width: 97%;
  height: 200px;
}

textarea::placeholder {
  color: whitesmoke;
  margin: 10px;
}

/* footer */

.footer {
  color: whitesmoke;
  display: flex;
  box-sizing: border-box;
  padding: 5px;
  height: 60px;
  background-color: #1a546e;
  border: solid 2px #61daff66;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  bottom: 0px;
  width: 90%;
  margin: 5%;
  margin-top: auto;
  margin-bottom: 0px;
  direction: rtl;
  justify-content: space-between;
}
.footer p {
  padding: 5px;
  margin: 10px;
}
